body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #8dc63f;
  cursor: url(../img/cursor.cur), auto;
}
.clear::after{
  content: "";
  display: block;
  clear: both;
}
.wrapper{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 960px;
  background-color: #fff;
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.logo{
  align-items: center;
  display: flex;
}
.logo p,
.phone-number p{
  margin: 0;
  text-decoration: none;
  font-size: 22px;
  color: #39930d;
}
.logo b{
  display: block;
  font-size: 44px;
}
.logo i,
.phone-number i{
  display: block;
  font-size: 14px;
  color: #5a5a5a;
}
.logo img{
  width: 50px;
  transition: all 1s ease;
  transform: rotate(350deg);
}
.logo img:hover{
  width: 80px;
  padding-left: 200px;
  transform: rotate(350deg);
}
.slider{
  width: 100%;
}
.logo img{
  margin-left: 35px;
}
.phone-number{
  display: flex;
  justify-content: space-between;
}
.phone-number a{
  color: #39930d;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.phone-number i{
  text-align: right;
}
.slider{
  width: 100%;
}
.main{
  display: flex;
  column-gap: 10px;
  margin-bottom: 45px;
}
.content{
  padding-right: 10px;
  float: left;
  width: 70%;
}
.content h1{
  font-size: 24px;
  color: #39930d;
}
.content p{
  font-size: 14px;
  line-height: 21px;
  color: #343434;
} 
.menu{
  width: 300px;
}
.menu p{
  padding: 15px 20px 10px;
  font-size: 18px;
  color: #fff;
  background-color: #39930d;
}
.menu ul{
  padding-left: 20px;
  list-style: none;
}
.menu a{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #39930d;
  display: block;
  transition: all 1s ease;
}
.menu a:hover{
  color: #fff;
  background-color: #5a5a5a;
  padding-left: 20px;
  text-decoration: none;
}
.footer{
  margin: 0 -15px;
  padding: 15px;
  font-size: 14px;
  color: #fff;
  background-color: #39930d;
}
@media screen and (max-width: 600px){
  .header{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .phone-number i,
  .phone-number a{
    display: block;
    text-align: center;
  }
  .slider{
    height: 200px;
    object-fit: cover;
  }
  .header i{
    text-align: center;
  }
  .main{
    flex-direction: column-reverse;
  }
  .main,
  .content{
    width: 100%;
  }
}
@media screen and (max-width: 370px){
  .logo{
    flex-direction: column;
    text-align: center;
  }
  .logo img{
    margin: 10px 0 20px;
  }
}
